*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #e6e0e01c;
    font-family:"calibri" ;

}
header{
    background: #fafcfc;
    width: 100%;
    clear: both;
    content:"" ;
    display: table;
}
.menu{
    width: 900px;
    margin: 0;
}
img{
    width: 160px;
    background-color: none
    ;

    float: left;
padding: 8px;
}
nav{
    float: right;
}
nav ul li{
    list-style: none;
    margin-left: 75px;
    padding: 25px 0;
    float:left
}
nav ul li a{
    text-decoration: none;
    color:black

    font-weight: bold;

}